
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
}

:root {
    --text-white: #ffffff;
    ---gold-color: #AF893E;
    --filter-bg-color: #DEEBFF;
    --backgroung-color:#0f0f0f;

}

body{
    font-family: "League Spartan", sans-serif;
    background-color: #0f0f0f; 
}

main{
    display: flex;
    flex-direction: column;
    gap:180px;
    padding-bottom: 20px;    
}

h2{
    color: var(---gold-color);
    font-size: 2rem;
    position: relative;
}

.h2-bar{
text-align: center;
padding-top: 18px;
}

.h2-bar::before {
    content: "";
    position: absolute;
    top: -50px; /* Ajustez la position verticale selon vos besoins */
    left: 50%; /* Placez la barre au centre */
    transform: translateX(-50%); /* Déplacez la barre de moitié de sa largeur vers la gauche */
    width: 50%;
    height: 1px;
    background: linear-gradient(to right, #AF893E 0%, #ffffff 50%, #AF893E 100%);
    z-index: 1;
    animation: changeGradient 9s infinite alternate cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes changeGradient {
    0% {
        background: linear-gradient(to right, #AF893E 0%, #ffffff 50%, #AF893E 100%);
    }
    50% {
        background: linear-gradient(to right, #ffffff 0%, #AF893E 50%, #ffffff 100%);
    }
    100% {
        background: linear-gradient(to right, #AF893E 0%, #ffffff 50%, #AF893E 100%);
    }
}

h3{
    color: var(--text-white);

}

#a-propos,#competences,#contact{
    padding-left:30px;
}

.header{
    background-color:#AF893E;
    padding: 20px;
    width: 100%;
    top: 0;
    z-index: 1000;
    
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    
    position: relative; 
  }

  .navbar ul li:hover a {
    color: black; 
    transform: scale(1.1);
  }

.navbar ul li.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -7px; 
    transition: all 0.3s ease; 
    opacity: 0; 
    
  }

  .navbar ul li:hover::after {
    opacity: 1; /* La barre devient visible au survol */
    color: #000;
  }

  .dowload-cv{
    background-color:black ;
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
  }

header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 22px;
    justify-content: flex-end;
    margin-right: 20px;
}

.onglet a{
    text-decoration: none;
    color:var(--text-white);
    font-weight: bold;
    transition: transform 0.3s ease;
    font-size: 20px;
}

#icone_telechargement{
    display: flex;
    align-items: center;
    gap: 10px;
   justify-content: center;
}





.hero{
    background-color:#000 ;
    color: var(--text-white);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 15px;
     
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    gap: 70px;
    height: 100%;
    background-size: cover;
    background-position: top; 

}
.content h1{
    font-size: 3em;
    color: #AF893E;
    
  
    
    /* font-weight: 600; */
}

.content p {
    font-size: 2em;
}

/* Barre des liens haut de page  */

.bar-liens{
    display: flex;
    gap: 25px;
}



.lien-etiquette{
    display: flex;
    gap: 10px ;
    padding: 8px 20px 8px 10px ;
    border-radius: 15px;
    justify-content: flex-start;
    align-items: center;
    background-color: var(---gold-color);
    border: 2px solid transparent;

    
}

.lien-etiquette:hover{
    
    /* background-color: #0f0f0f; */
    border: 2px solid white;
    transform: scale(1.1);
}

.lien-etiquette p,a{
    text-decoration: none;
    font-size: 19px;
    color: white;
    font-weight: 400;
}

.lien-etiquette img{
    width: 20px;
    position: relative;
      
}

.bar-liens .lien-etiquette {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .bar-liens .lien-etiquette.appear {
    opacity: 1;
  }

.logo{
    animation: zoomIn 1s forwards;
    max-height: 80%;
    overflow: hidden;
   
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.logo img {
    transition: transform 0.8s ease; /* Animation de transition pour une rotation fluide */
}

.logo:hover img {
    transform: rotate(360deg); /* Rotation de 360 degrés sur survol */
}

#a-propos{
    display: grid;
    grid-template-columns: 0.6fr 2fr;
    /* align-items: center; */
    gap: 20px;
    padding-top: 15px;

}

#a-propos h2{
    padding-left: 30px;
}

.portfolio-text{
    line-height: 1.2;
}

.a-propos-right{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    border-image: linear-gradient(to bottom, #AF893E, #fbfbfa,#AF893E) 1; /* Dégradé pour la bordure gauche */
    border-image-slice: 1; /* Permet de définir le comportement de découpe de la bordure */
    border-left: 1px solid transparent; /* Assurez-vous que la bordure de gauche est transparente */

}

.a-propos-right p {
    padding: 20px 20px 0px 30px;
    margin-right: 100px;
    font-size: 23px;
    color: rgba(255, 255, 255, 0.826);
    text-align: justify;
    word-spacing: normal;
}

.Ma_photo{
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
       
}

.Ma_photo img{
    height: 100%;
    border-radius: 51% 49% 50% 50% / 38% 34% 66% 62% ;
    max-height: 300px;
}

.align-left {
    text-align: left;
  }

#competences{

display: flex;
flex-direction:column ;
gap: 120px;
  }

  .competences-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .logo-competence{
    width:110px;
    border:1px solid var(---gold-color) ;
    border-radius: 15px;
    padding: 10px;
   
  }

  .liste-competences{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
  }


/* Style des cartes */

#mes-projets{
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.projects{ 
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 70px;
   justify-items: center;
   
   
}
.project-card{
    display: flex ;
    flex-direction: column;
    width: 75%;
    height: 100%;
    border-radius: 20px ;
    background-color: rgb(248, 243, 243);
    gap: 15px; 
}

.project-card li img{
    width: 30px;
    
}

.project-card li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;   
}

.project-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-color: white;
    border-radius: 20px 20px 0px 0px;  
}

.titre-carte{
    margin:0 auto;
    font-size: 24px;
    padding-top: 20px;
    color: black;
    text-align: center;
}

.project-card P {
    color: black;
    text-align: justify;
    padding: 15px 20px 0px 15px;
    font-size: 22px;
    height: 160px;
}

.project-card ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    font-size: 22px;
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid var(---gold-color);  
}

.languages img {
    height: 200px;
    margin-right: 5px;
}

.language-list{
    display: flex;
    justify-content: center;
    gap: 10px;   
}

.language-list li{
    list-style: none;
    color: var(---gold-color);
    font-weight: 500;
    text-align: center;
}

.learn-more-button{
    background-color:#af893ed3;
    width: 40%;
    margin: 0 auto;
    font-size: 1.1em;
    margin-bottom: 20px;
    color: rgb(243, 238, 238); 
    border-radius: 7px;
    border: 1px solid transparent;
    padding: 5px;
    margin-top: auto; 
}

.learn-more-button:hover{
    cursor: pointer;
    background-color: #0f0f0f;
    color: var(---gold-color);
    border: 1px solid var(---gold-color);
}

  .project-card.hovered {
    transform: scale(1.05);  
  }

  #contact{
    display: flex;
    flex-direction: column;
    gap:30px ;
  }

  #contact p{
    color: white;
    text-align: center;
    font-size: 22px;
  }

  #contact-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: auto;
    padding: 40px;
    color: var(---gold-color);
    border: 2px solid #fffefe91;
    border-radius: 10px;  
  }

  .infos-contact{
    display: flex;
    justify-content: space-between; 
  }

  .contact-input, .message-contact,.submit-contact{
    color: var(--text-white);
    background-color: var(--backgroung-color);
    border: 1px solid var(---gold-color);
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
  }

  .contact-input{
    width: 40%;
  }

  .message-contact{
    min-height: 100px;
    resize: vertical;
  }

  .submit-contact{
    width: 30%;
    margin: 0 auto ;
    cursor: pointer;
  }

  .submit-contact:hover{
    background-color: #fffefef0;
    color: var(---gold-color);
    border: 1px solid transparent;
    font-weight: bold;
  }
 
  input:-internal-autofill-selected {
    appearance: none; /* Annule l'apparence par défaut */
    background-image: none; /* Supprime l'image de fond */
    background-color: initial; /* Réinitialise la couleur de fond */
    color: initial; /* Réinitialise la couleur du texte */
}

.bar-liens-bottom{
    display: flex;
    margin: 0 auto;
    gap: 40px;  
}
 

#copyright{
    display: flex;
    flex-direction: column;
    color: var(--text-white);
    gap: 15px  ;
    font-size: 18px;
    align-items: center; 
}


/* Affichage de la modal */

.modal {
    display: none;
    position: fixed; /* Position fixe par rapport à la fenêtre */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }
  
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 70px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Centre la modal parfaitement */
    background-color: white;
    width: 80%; /* Largeur de la modal */
    max-width: 1200px; /* Largeur maximale de la modal */
    padding: 20px; /* Ajoutez un peu de marge intérieure */
    border-radius: 8px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    scale: 1.5px;
    padding: 2px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color:var(---gold-color) ;
    border-radius: 2px;
  }

  .close:hover{
    scale: 1.2;
  }

  .modal-title{
    font-size: 40px;
    text-align: center;
    background-color: var(---gold-color);
    color: black;
    padding: 15px;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 30px;
  }

  .modal-img{
    width: 60%;
    object-fit: cover;
    border-radius: 15px;
    border: 1px solid var(---gold-color);
    padding: 5PX;
  }

  .img-description{
    display: flex;
    gap: 20px;
  }

  .modal-description{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 15px;  
    border: 1px solid var(---gold-color);
    border-radius: 15px;
  }

  .titre-modal-description{
    color: #000;
    margin: 0 auto;
    font-size: 26px;
    border-bottom: 1px solid var(---gold-color);
  }

  .text-description{
    text-align: justify;
    font-size: 20px;
  }

  .modal-infos-projet{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid var(---gold-color);
    border-radius: 15px;
  }

  .modal-infos-title{
    font-size: 20px;
    margin: 0 auto;
    color: #AF893E;
  }

  .modal-general,.modal-languages,.modal-liens{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
   padding: 15px;
   
  }

  .infos-modal-general{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .modal-languages,.modal-liens{
    border-left: 1px solid var(---gold-color);
  }

  .language-list-modal{
    font-size: 20px;  
  }

  .languages-list-modal ul   {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 20px;
    color: black;
    
  }

  .languages-list-modal li{
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    color: black;
    font-weight: 400;
    font-size: 14px;
  }

  .languages-list-modal li img{
    width: 30px;
  }

  .icone-lien-modal{
    width: 40px; 
  }

  .texte-lien-modal{
    color: #000;
  }

  .lien-modal{
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .lien-container-modal  {
  display: flex;
  justify-content: center;

  }

/* MEDIA QUERIES */


@media screen and (max-width: 1300px) {


    /* Modal 1300px */
    .modal-content {
      max-height: 90%; /* Utilisation de 60% de la hauteur de la fenêtre visible */
      overflow-y: auto; /* Ajout d'une barre de défilement verticale si nécessaire */
    }

    .modal-title{
        font-size: 25px;
        margin-top: 10px;
    }

    .modal-content{
        gap: 35px;
          
    }

    .infos-modal-general{
        gap: 15px;
    }

    .modal-infos-projet{
      padding: 0px;
    }

    .modal-img{
        width: 50%;
        /* max-height: 210px; */
    
    }

    .modal-infos-projet{
        padding: none;
    }

    .languages-list-modal ul,.infos-modal-general{
        font-size: 18px;
    }
  }

@media(max-width:1200px){

    .lien-etiquette p, a{
        font-size: 15px;
    }
      .bar-liens{
        gap: 15px;
    }

    .Ma_photo {
       display: flex; 
       align-items:flex-start;
    }

    .project-card P {
       height: 200px;  
    }

}

@media(max-width:1100px){

    #a-propos{
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 20px;
    }

    .a-propos-right{
        align-items: center;
        border-left: none;
       }
    
       .a-propos-right::before {
        content: "";
        position: absolute;
        top: -15px; /* Positionner la bordure en haut */
        left: 50%;
        transform: translateX(-50%);
        width: 50%; /* Largeur de la bordure */
        height: 1px; /* Hauteur de la bordure */
        background-image: linear-gradient(to right, #AF893E, #fbfbfa, #AF893E); 
        z-index: 1; 
        animation: changeGradient 9s infinite alternate cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes changeGradient {
        0% {
            background: linear-gradient(to right, #AF893E 0%, #ffffff 50%, #AF893E 100%);
        }
        50% {
            background: linear-gradient(to right, #ffffff 0%, #AF893E 50%, #ffffff 100%);
        }
        100% {
            background: linear-gradient(to right, #AF893E 0%, #ffffff 50%, #AF893E 100%);
        }
            
           }
           
        .a-propos-right p{
            margin: 0 auto ;
            padding: 30px 30px 0px 30px;
    }

    main{
        gap: 25px;
        
    }

    #competences,#mes-projets,#contact{
        margin-top: 60px;
        padding: 10px;
        gap: 40px;
    }

    #a-propos h2{
        padding: 0px;
        margin-top: 30px;
        
       }
}

@media(max-width:990px){

    /* .header nav ul{
      justify-content: center;  
    } */

    .content h1{
        font-size: 2em;
        
    }

    .onglet a  {
        font-size: 15px;
    }

    .dowload-cv{
        font-size: 12px;
    }

.hero{
    display: grid;
    grid-template-columns: 2fr 1fr ;
}

#logo-png{
    width: 100%;
}

.content{
    gap: 20px;
    padding-bottom: 20px;
}

.lien-etiquette{
    padding: 5px 15px 5px 15px;
}

.project-card P {
    height: 250px;  
 }

 .modal-img {
    width: 100%;
    height: 300px ;
 }

 .modal-description{
    border: 0px;
    padding: 0px 20px;
 }

 /* modal */

 .img-description{
    flex-direction: column;
 }

 .project-card ul {
    
    flex-wrap: wrap;
   
}

.project-card ul li {
    width: calc(33.33% - 10px); /* Ajustez la largeur pour trois éléments par ligne */
   
}


}

@media(max-width:860px){

    #logo-png{
        width: 50%;
    }

    .lien-etiquette p, a{
        font-size: 15px;
    }
     
    .bar-liens{
        gap: 8px;
    }

    .lien-etiquette{
        padding: 4px 10px 4px 10px;
    }

    .hero{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 30px;
        
    }

    .content{
        padding: 0;
    }

    .content h1{
        font-size: 2em;
        margin: 0 auto;
        text-align: center;      
    }

    .header nav ul {
        justify-content: center;
    }

    #a-propos{
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 10px;
    }
    
   

    .Ma_photo img{
        max-height: 200px;
    }

   h2{
    font-size: 1.5em;
   }
   

   
   .a-propos-right p{
    font-size: 19px;
    padding-top: 20px;
    margin: 0 auto ;
    
   }

.h2-bar::before{
    width: 80%;
}

.liste-competences {
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    gap: 30px;
    justify-items: center;
    
}


.competences-container{
    align-items: center;
}

.logo-competence{
    width: 40%;
   
}

.projects{
    display: grid;
    grid-template-columns: 1fr;
}

.project-image{
    padding: 0;
    height: 200px;
     
}

.project-card p{
    font-size: 21px;
    height: auto;
    
}

#contact p {
    font-size: 18px;
}

.learn-more-button{
    width: 45%;
}

#contact-form{
    padding: 15px;
    width: 90%;
}
.infos-contact{
    flex-direction: column;
    gap: 20px;
    
}

.contact-input,.message-contact{
    width: 100%;
    font-size: 16px;
}

.submit-contact{
    font-size: 16px;
    width: 40%;
}

.bar-liens-bottom{
    display: none
}

#copyright{
    font-size: 12px;
}

}

@media screen and (max-width: 700px) {

    .navbar{
        flex-direction: column;
        gap: 15px;
    }

/* Modal */
    .modal-content{
        padding:0px;
    }
    .modal-title{
        width: 100%;
        padding: 15px 5px;
        border-radius: 0px;
        margin-top: 0px;       
    }

  .close {
    
    top: 0px;
    right: 5px;
    font-size: 35px;
   
    z-index: 1;
    
  }

  .close:hover{

    color: white;
    transform: scale(1.1);
  }

  
  .close:hover{
    scale: none;
  }

  .modal-img{
    width: 100%;
    border-radius:0px;
    border: none;
    padding:0px;
   
    
}

.img-description{
    align-items: center;
}

.titre-modal-description{
    font-size: 22px;
}

.text-description{
    font-size: 19px;
}

.modal-infos-projet{
    display: flex;
    flex-direction: column;
    margin: 0px 10px 10px 10px;
}

.infos-modal-general,.languages-list-modal ul{
    align-items: center;
    justify-content: center;
}

.modal-general{
    padding: 20px 5px;   
}

.modal-languages,.modal-liens{
    border-left: none;
    border-top: 1px solid var(---gold-color) ;
    padding: 20px 5px;
}

.lien-modal{
    justify-content: center;
}
}
  
    @media(max-width:500px){
        .onglet a{
            font-size:14px ;
        }
        .header{
            padding: 15px 2px;
        }
        .header nav ul {
            gap: 8px;
        }

        .bar-liens{
            flex-direction: column;
            align-items: center;
            gap: 15px ;
        }

        .content{
            align-items: center;
        }

        .project-card{
            width: 85%;

        }
        .project-card p{
            font-size: 18px;
            text-align:left;
            padding: 0px 10px;
                }

        .project-card ul{
            grid-template-columns: 1fr 1fr;
        }

        .a-propos-right p{
            padding: 20px 10px 0px 10px;
            text-align: left;
            
            
        }
    }

  @media screen and (max-width: 400px) {

    .infos-modal-general,.languages-list-modal ul{
       font-size: 16px;
       
    }

    .learn-more-button{
        width: 60%;
    }

    .project-card ul{
        justify-content: space-evenly;
        font-size: 20px;
    }
}




  
  

  
  
  
  
  





